{# Sidebar #}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('student.index') }}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-tools"></i>
        </div>
        <div class="sidebar-brand-text mx-3">TDRM <sup>学生</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if active_page == 'index' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('student.index') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>首页</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        报修管理
    </div>

    <!-- Nav Item - 发起报修 -->
    <li class="nav-item {% if active_page == 'create_order' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('student.create_order') }}">
            <i class="fas fa-fw fa-plus-circle"></i>
            <span>发起报修</span></a>
    </li>

    <!-- Nav Item - 我的工单 -->
    <li class="nav-item {% if active_page == 'my_orders' %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('student.my_orders') }}">
            <i class="fas fa-fw fa-list-alt"></i>
            <span>我的工单</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
{# End of Sidebar #}


